<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naxa.np.changunarayantouristapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".common.ChangunarayanTouristApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".videoplayer.VideoPlayerActivity"></activity>
        <activity
            android:name=".placedetailsview.PlaceDetailsActivity"
            android:exported="true"></activity>
        <activity android:name=".map.MapMainActivity" />
        <activity android:name=".map.markerdetailspage.MarkerDetailsDisplayActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".login.RequestForAccessActivity"
            android:exported="true" />
        <activity
            android:name=".vrimage.VRImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".barcodereader.QRCodeReaderActivity"
            android:exported="true" />
        <activity android:name=".common.BaseActivity" />
        <activity android:name=".selectlanguage.SelectlanguageActivity" />
        <activity android:name=".splashscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen.WalkThroughSliderActivity" />
    </application>

</manifest>